body{
    font-family: Merriweather, serif;
    background-color: black;
}
.container{
    width: 1000px;
    height: 650px;
    background-image:linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(backg.jpg);
    margin: 2% auto;
}
.calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0px auto;
    position: relative;
    top: 10%;
    border-radius: 15px;
    /* box-shadow: -5px -5px 8px 2px rgb(3 255 40 / 30%) ; */
    box-shadow: 5px 5px 8px 2px rgb(3 255 40 / 30%);
}
.result{
    height: 120px;
}
.history{
    text-align: right;
    height: 20px;
    margin: 0px 20px ;
    padding-top: 10px;
    color: rgb(58, 51, 51);
    font-size: 15px;
}
.output{
    text-align: right;
    height: 20px;
    margin: 0px 15px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 15px;
}
.operator,.number,.empty{
    width: 50px;
    height: 50px;
    margin: 15px ;
    float: left;
    border-radius: 50%;
    border-width: 0;
    /* border: .5px solid black; */
    font-weight: bold;
    font-size: 20px;
}
.number,.operator{
    cursor: pointer;
}
.operator{
    /* border: .5px solid black; */
}
.operator:active, .number:active{
    font-size: 15px;
}
.operator:focus, .number:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 22px;
    background-color: #20b2aa;
}
button:nth-child(8){
    font-size: 22px;
    background-color: #8624f7;
}
button:nth-child(12){
    font-size: 22px;
    background-color: #23e243;
}
button:nth-child(16){
    font-size: 22px;
    background-color: #e23b89;
}
button:nth-child(20){
    font-size: 22px;
    background-color: #ffa500;
}
button:nth-child(1){
    font-size: 22px;
    background-color: #959e9e;
}
button:nth-child(2){
    font-size: 22px;
    background-color: #959e9e;
}button:nth-child(3){
    font-size: 22px;
    background-color: #959e9e;
}